.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* outline: solid blue; */
  background-color: black;
}
.container a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 1.3rem;
}
.active {
  padding-bottom: 8px;

  border-bottom: 1px solid #fff;
}
.nav-links a {
  margin-left: 20px;
}
.nav-links :last-child {
  margin-left: 30px;
}
