.policyMainContainer {
  /* outline: solid orange; */
  width: 100%;
  background: white;
}

.policy--container {
  color: black;
  width: 800px;
  word-wrap: break-word;
  margin-left: 260px;
  text-align: left;
  font-size: 16px;
}
.email {
  font-size: 16px;
  padding-right: 10px;
  color: black;
}
