.Work {
  display: grid;
  grid-template-columns: repeat(auto-fill, 32%);
  justify-content: center;
  grid-column-gap: 50px;
  margin: 40px auto;
  width: 100%;
  border: 1px solid red;
  text-align: center;
}
.itemGallery {
  width: 100%;
  margin: 40px auto;
}
.Work .itemGallery img {
  width: 100%;
  height: auto;
  max-width: 80%;
}
.Work a {
  color: #fff;
  border-radius: 5px;
}

@media screen and (max-width: 790px) {
  .Work {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
