/* .Work {
  display: flex;
  justify-content: space-between;
} */
/* .Work a {
  border: 1px solid red;
} */
.Container-work {
  height: 100vh;
  width: 100vw;
  /* outline: solid red; */
}
.Work {
  margin-top: 150px;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  justify-content: center;

  grid-gap: 50px;
  /* background-color: #fff; */
  color: #444;
}

.Work a {
  /* background-color: #444; */
  color: #fff;
  border-radius: 5px;
  /* padding: 20px; */
  /* font-size: 150%; */
}
/* .parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  outline: solid red;
} */

div {
  color: black;
  background-color: blue;
}
