@import url(./_contact.css);
@import url(./_footer.css);
@import url(./_hero.css);
@import url(./_nav.css);
@import url(./_policy.css);
@import url(./_work.css);
@import url(./_adminForm.css);

.App {
  margin: 0px auto;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
