.contact--container {
  height: 80vh;
  text-align: center;
}
.contact--main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 40%;
  letter-spacing: 1.5px;
  /* text-align: center; */
}

.contact--container h2 {
  margin-bottom: 100px;
  margin-top: 100px;
}

h2 span {
  padding: 5px;
}

.mail {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #000000;
}

.mail:visited {
  color: #000000;
}
