/*this class ContainerModalClose is active only when the modal was open and the user resize the window . we have to make the background white for the navbar*/
/* .ContainerModalClose {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  padding: 45px 0;
}
.ContainerModalClose a {
  text-decoration: none;
  list-style-type: none;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  position: relative;
} */
/* //////////////////////////////// */

.Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding: 45px 0;
}
.Container a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 1.3rem;
  position: relative;
}
.Container a:not(.LogoName):not(:last-child):not(.SignOutBtn)::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 40px;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.Container a:not(:last-child):not(.SignOutBtn):hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.Nav-Links .active {
  color: rgba(255, 255, 255, 0.711) !important;
}
.Nav-Links a {
  margin-left: 20px;
}
.Nav-Links :last-child {
  margin-left: 30px;
}
.Nav-Links .SignOutBtn {
  background: none;
  outline: solid #fff;
  color: #fff;
  cursor: pointer;
}
.Nav-Links .SignOutBtn:hover {
  background-color: #fff;
  color: #000;
}
/* mobile style  */
.MenuBtn_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

.Menu-Btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.Menu-Btn__Burger {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Menu-Btn__Burger::before,
.Menu-Btn__Burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.2s ease-in-out;
}
.Menu-Btn__Burger::before {
  transform: translateY(-10px);
}
.Menu-Btn__Burger::after {
  transform: translateY(5px);
}

.Menu-Btn.Open .Menu-Btn__Burger {
  transform: translateX(10px);
  background: transparent;
  box-shadow: none;
}
.Menu-Btn.Open .Menu-Btn__Burger::before {
  transform: rotate(45deg);
  background: black;
}
.Menu-Btn.Open .Menu-Btn__Burger::after {
  transform: rotate(-45deg);
  background: black;
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 790px) {
  .Container {
    display: none;
  }
  .ContainerMobile {
    display: block;
    background-color: #000;
    width: 100%;
    padding: 35px 0;
  }
  .ContainerMobile a:first-child {
    text-align: center;
  }
  .ContainerMobile a {
    text-decoration: none;
    color: white;
    padding: 15px 0px;
  }
  .ContainerMobile a h1 {
    margin-top: 0;
  }
  .Nav-LinksMobile {
    padding: 0;

    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .Nav-LinksMobile div:first-child {
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  .Nav-LinksMobile div a {
    font-size: 2.5rem;
    color: #000;
    margin: 10px 0;
  }
  .Nav-LinksMobile .active {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  }
  /* .Nav-LinksMobile a:not(:last-child):hover {
    background-color: white;
    color: black;
  } */
  .Nav-LinksMobile div:first-child a:hover {
    background-color: white;
    color: black;
  }

  .Nav-LinksMobile .SignOutBtnMobile {
    background: rgb(224, 220, 220);
    padding: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.41);
  }
  .Nav-LinksMobile .SignOutBtnMobile:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: none;
  }
  /* open modal nav style  */
  .ModalNav a {
    text-decoration: none;
  }
  .ContainerMobileOpen {
    background-color: none;
    padding: 35px 0;
  }
  .Open .Menu-Btn__Burger::after,
  .Open .Menu-Btn__Burger::before {
    background: #000;
  }
}
@media screen and (min-width: 791px) {
  .ContainerMobile {
    display: none;
  }
}
