.Work {
  display: grid;
  grid-template-columns: repeat(auto-fill, 32%);
  justify-content: center;
  grid-column-gap: 50px;
  margin: 40px auto;
  width: 100%;
  text-align: center;
  position: relative;
}
.itemGallery {
  width: 100%;
  margin: 30px auto;
}
.Work .itemGallery img {
  width: 100%;
  height: auto;
  max-width: 80%;
}
.Work a {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.Work a figcaption {
  position: absolute;
  display: none;
}
.Work a img:hover {
  opacity: 0.8;
}
.Work a img:hover + figcaption {
  display: block;
}
@media screen and (max-width: 790px) {
  .Work {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
